.info-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  min-width: 450px;
}

.experience-details-container, .education-details-container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
}

.education-container, .experience-container, .personal-container {
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
}
.form-container {
  padding: 0 16px 20px 16px;
  box-sizing: border-box;
}
.form-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-input {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: 2px solid transparent;
  align-self: center;
  background-color: var(--background-color);
  transition: border-color 250ms ease-in;
}
.form-input:focus {
  border: 2px solid rgb(142, 142, 255);
  outline: none;
}

.list-item {
  box-sizing: border-box;
  padding: 20px 15px;
  margin: auto;
  width: 100%;
  border-top: 5px solid var(--background-color);
}

.expand-section{
  font-size: 1.5em;
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.add-btn-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:  5px solid var(--background-color);
}

.labelText {
  margin-bottom: 4px;
}
.edit-bar {
  position: fixed;
  left: 0;
  top: 0;
}

.newItem {
  background-color: white;
  font-size: 1.2rem;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: 4px solid var(--background-color);
}
.newItem:focus {
  outline: none;
}